---
import ProfileCard from '../information/ProfileCard.astro';
---

<footer class="relative w-full pt-2 h-full z-[100]">
  <div class="waves-container w-full" style="height: 60px;">
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      width="100%"
      height="100%"
    >
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" class="fill-indigo-500/20 opacity-70" />
        <use xlink:href="#gentle-wave" x="48" y="3" class="fill-sky-500/20 opacity-50" />
        <use xlink:href="#gentle-wave" x="48" y="5" class="fill-sky-500/20 opacity-30" />
        <use xlink:href="#gentle-wave" x="48" y="7" class="fill-sky-500/20" />
      </g>
    </svg>
  </div>
  <div class="z-10 w-full h-full relative">
    <div class="absolute inset-x-0 h-36 bg-gradient-to-b from-[#1a4b74] to-[#13151a]"></div>
    <ProfileCard class="absolute px-4 py-3" />
  </div>
</footer>

<script>
  import { gsap } from "gsap";

  gsap.to(".parallax use", {
    x: "-=96",
    duration: 25,
    repeat: -1,
    ease: "none",
    stagger: 0.5
  });
</script>

<style>
  .waves-container {
    pointer-events: none;
    width: 100%;
    height: 60px;
  }
  @media (min-width: 768px) {
    .waves-container {
      height: 80px;
    }
  }
  @media (min-width: 1200px) {
    .waves-container {
      height: 120px;
    }
  }
  .waves {
    width: 100%;
    height: 100%;
    display: block;
  }
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
</style>
