---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Profile from '../../components/information/Profile.astro';
const title = 'aboutme';
---

<BaseLayout title={title}>
  <div class="w-full flex flex-col items-center justify-center py-10">
    <Profile class="" style="" />
  </div>
</BaseLayout>
