---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Greeting from '../../components/Greeting.astro';
const title = 'Home';
const locale = Astro.currentLocale ? Astro.currentLocale : 'en';
---

<BaseLayout title={title}>
  <div class="w-full flex flex-col items-center justify-center">
    <Greeting />
    <br />
    <p id="message" class="text-lg">
      My profile is <a href=`/${locale}/aboutme` class="text-blue-300">here</a>.
    </p>
  </div>
</BaseLayout>

<script>
  import { gsap } from "gsap";
  import { TextPlugin } from "gsap/TextPlugin";

  gsap.registerPlugin(TextPlugin);

  document.addEventListener('DOMContentLoaded', () => {
    const element = document.getElementById('message');
    if (element) {
      const originalHTML = element.innerHTML;
      const text = element.textContent?.trim();
      element.innerHTML = ''; // Clear content to avoid flash of unstyled text
      if (text) {
        gsap.to(element, {
            duration: text.length * 0.07,
            text: text,
            ease: "none",
            onComplete: () => {
                element.innerHTML = originalHTML;
            }
        });
      } else {
        element.innerHTML = originalHTML;
      }
    }
  });
</script>
