---
const username = "oda251"
const url = `https://www.github.com/${username}`
const icon="fa-github"
---

<a href={ url }>
	<i class=`fa-brands ${icon}`></i>
</a>

<style>
	/*a {
		padding: 0.5rem 1rem;
		color: white;
		background-color: #4c1d95;
		text-decoration: none;
		border-radius: 0.1rem;
	}*/
</style>
