---
import BaseLayout from '../../layouts/BaseLayout.astro'
import SkillCard from '../../components/SkillCard.astro'
const title = "About"

const skills_jp = [
	{
		title: "シフト管理BOT",
		img: "hoge",
		infras: ["discord api", "cloudflare workers", "hono", "google apps script"],
		langs: ["javascript"],
		href: "hoge"
	},
]
---

<BaseLayout title={ title }>
	<h1>私のAstroサイト</h1>
	<h1>私について</h1>
	<h2>... そして私の新しいAstroサイトについて！</h2>

	<p>私はAstroの入門チュートリアルを進めています。これは私のウェブサイトの2番目のページで、自分で作った初めてのページです！</p>

	<p>このサイトはチュートリアルを進めるにつれて更新されていきます。定期的にチェックして、私の旅の様子を見に来てください！</p>
</BaseLayout>
