---
import { DateTime } from 'luxon';

let message: string, icon: string, style: string;
const time = DateTime.now().setZone('Asia/Tokyo').hour;
if (time < 5) {
  message = 'Good night';
  icon = 'fa-bed';
  style = '--start-color: indigo; --end-color: lightseagreen;';
} else if (5 < time && time < 12) {
  message = 'good morning';
  icon = 'fa-person-falling';
  style = '--start-color: lightseagreen; --end-color: lemonchiffon;';
} else if (time < 18) {
  message = 'good afternoon';
  icon = 'fa-running';
  style = '--start-color: lemonchiffon; --end-color: orange;';
} else {
  message = 'Good evening';
  icon = 'fa-person-drowning';
  style = '--start-color: orange; --end-color: indigo;';
}
---

<div id="greeting" class="py-4">
  <h1
    class=`fa-solid ${ icon } gradient font-bold animate-focus-in-expand-fwd text-4xl lg:text-6xl xl:text-8xl`
    style={style}
  >
    {message}
  </h1>
</div>

<style>
  .gradient {
    @apply text-transparent bg-clip-text;
    background-image: linear-gradient(
      to right,
      var(--start-color),
      var(--end-color)
    );
  }
</style>
