---
import BaseLayout from '../../layouts/BaseLayout.astro'
import SkillCard from '../../components/information/SkillCard.astro'
import products from '../../entities/products'
const title = "works"
---

<BaseLayout title={ title }>
	{ products.map((product, index) => (
		<SkillCard info={product}/>
		<div>
			{ index !== products.length - 1 &&
				<hr class="border-gray-100 my-8" />
			}
		</div>
	))}
</BaseLayout>
