---
	import Twitter from './links/Twitter.astro';
	import GitHub from './links/GitHub.astro';
	const articles: {[lang: string]: {[key: string]: string[]}} = {
		"jp": {
			"経歴": ["早稲田大学", "42tokyo"]
		},
		"en": {
			"Past": ["waseda univ", "42tokyo"]
		}
	}
	const locale = Astro.currentLocale ? Astro.currentLocale : "en";
---

<div class="border border-gray p-3 rounded-md">
	<h4 class="text-3xl border-b border-gray">Profile</h4>
	{
		Object.entries(articles[locale]).map(([key, val]) => {
			return (
				<div>
					<h5 class="text-xl">{key}</h5>
					{val.map((elem) => <p>{elem}</p>)}
				</div>
			)
		})
	}
	<div class="flex gap-4 text-xl">
		<Twitter />
		<GitHub />
	</div>
</div>

<style>
	.border-gray {
		border-color: rgba(180, 178, 183, 0.629);
	}
</style>