---
import Dropdown from './Dropdown.jsx';
const locale = Astro.currentLocale ? Astro.currentLocale : 'en';
---

<script src="https://kit.fontawesome.com/ffad7d90c7.js" crossorigin="anonymous"></script>

<header class="flex justify-center">
	<div class="w-3/4 flex justify-end">
		<a href="/">
			<i class="fa-solid fa-home"> HOME </i>
		</a>
		{ locale === 'jp' &&
			<a href="/blog">
				<i class="fa-solid fa-blog"> BLOG </i>
			</a>
		}
		<a href="/about">
			<i class="fa-solid fa-circle-question"> ABOUT </i>
		</a>
	</div>
</header>

<style>
	header {
		background-color: #f9f9f9;
		height: 3rem;
		width: 100%;
		margin-bottom: 20px;
		display: flex;
		align-items: center;
	}

	header a {
		margin-right: 20px;
		line-height: 100%;
		text-align: center;
		text-decoration: none;
		background-color: blueviolet;
		color: white;
		padding: 0.4rem;
		margin: 0.2rem;
	}
</style>